body {
  margin: 0;
  margin-left: 72px;
  min-width: 320px;
  min-height: 100vh;
  /* max-width: 95vw; */
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
